*.env
datasets/ResumesJsonAnnotated
datasets/gauravduttakiit
datasets/someetsingh
datasets/suriyaganesh
datasets/wahib04
datasets/output
ml_services/recommender_service/transformer-models
datasets/*.spacy
datasets/*.bin
datasets/*.csv